@charset 'utf-8';

// Custom Bulma classes.
// Mobile-specific classes.
@media screen and (max-width: 768px) {
	.is-justify-content-center-mobile {
		justify-content: center;
	}

	.pl-10pct-mobile {
		padding-left: 10%;
	}
}

.is-object-fit-contain {
	object-fit: contain;
}

// Light gray body to increase card border contrast.
body {
	background: #fafafa;
}

// Smooth scroll behavior.
html {
	scroll-behavior: smooth;
}

// Custom scrollbar.
// Scrollbar width.
::-webkit-scrollbar {
	width: 0.5rem;
}

// Scrollbar track.
::-webkit-scrollbar-track-piece {
	background: #e4e4e4;
}

// Scrollbar thumb.
::-webkit-scrollbar-thumb {
	background: #666;
}

// Scrollbar thumb on hover.
::-webkit-scrollbar-thumb:hover {
	background: #444;
}

// Change Bulma primary color.
$primary: hsl(217, 71%, 53%);

// Roboto font.
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$family-sans-serif: 'Roboto', sans-serif;

@import '../../node_modules/bulma/bulma.sass';
